<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Registration Form</title>

    <!-- Icons font CSS-->

    <link href="/stylesheets/createuser/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/stylesheets/createuser/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/stylesheets/createuser/select2.min.css" rel="stylesheet" media="all">
    <link href="/stylesheets/createuser/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/stylesheets/createuser/main.css" rel="stylesheet" media="all">
    <script type="text/javascript" src="flash/flash-client.js"></script>
</head>


<body>

    <div id="signup_div" class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title" style="text-align: center">Registration Form</h2>
                    <a href="" id="gosignin"></a>
                    <form action="" id="form" method="POST">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Name</label>
                                    <input class="input--style-4" type="text" name="ten" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Phone</label>
                                    <input class="input--style-4" type="text" name="sdt" required>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Birthday</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="datetime" name="ngaySinh" required readonly>
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input type="radio" checked="checked" name="gioiTinh" value="true">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Female
                                            <input type="radio" name="gioiTinh" value="false">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="row row-space">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                </div>
                            </div>
                        </div>

                        <input class="input--style-4" id="email" type="email" name="email" required>
                        <br><br>

                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Password</label>
                                    <input class="input--style-4" type="password" id="matKhau" name="matKhau" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Confirm Password</label>
                                    <input class="input--style-4" type="password" id="confirmMatKhau" name="confirmMatKhau" required>
                                </div>
                            </div>

                        </div>
                        <div class="p-t-15">
                            <div class="row row-space">
                                <div class="col-2">
                                    <a href="/api/login" class="btn btn--radius-2 btn--blue" style="text-decoration: none;">Login</a>
                                </div>
                                <button class="btn btn--radius-2 btn--blue" type="submit" onclick="validCheck()">Signup</button>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <label style="color: red;font: bold;"><%= msg %></label>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="/stylesheets/createuser/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="/stylesheets/createuser/select2.min.js"></script>
    <script src="/stylesheets/createuser/moment.min.js"></script>
    <script src="/stylesheets/createuser/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="/stylesheets/createuser/global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
    <script>
        function validCheck() {
            var matKhau = document.getElementById('matKhau').value;
            var confirmMatKhau = document.getElementById('confirmMatKhau').value;

            if (matKhau !== confirmMatKhau) {
                Swal.fire('Mật khẩu của bạn không khớp. Vui lòng thử lại.');
                document.getElementById('matKhau').value = "";
                document.getElementById('confirmMatKhau').value = "";
            } else if (matKhau.length < 6) {
                Swal.fire('Mật khẩu phải có ít nhất 6 ký tự.');
                document.getElementById('matKhau').value = "";
                document.getElementById('confirmMatKhau').value = "";
            } else if (matKhau === confirmMatKhau && matKhau.length >= 6) {
                //mật khẩu hợp lệ => lưu db & lưu firebase
                document.getElementById('form').action = "/api/create";
                create_account();
            }
        }
    </script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAOgkN3QMz8wu3dNZGZZicdnMtNRe86GwA",
            authDomain: "fir-25494.firebaseapp.com",
            projectId: "fir-25494",
            storageBucket: "fir-25494.appspot.com",
            messagingSenderId: "923809567266",
            appId: "1:923809567266:web:056d04e8117442d1a5307b",
            measurementId: "G-VPG4GZDMSJ"
        };
        firebase.initializeApp(config);
    </script>
    <script>
        //create new account firebase và gửi xác thực về email
        function create_account() {
            var userEmail = document.getElementById("email").value;
            var userPass = document.getElementById("matKhau").value;
            //tạo tk
            firebase.auth().createUserWithEmailAndPassword(userEmail, userPass).then(function() {
                var user = firebase.auth().currentUser;
                //tạo tk => gửi xác thực đến email bằng function sendEmailVerification()
                //Nếu gửi email thành công => hiện thông báo success, người dùng nhấp OK để quay lại trang login
                //gửi thất bại => tb lỗi.
                user.sendEmailVerification().then(function() {

                    Swal.fire({
                        icon: 'success',
                        title: 'Success...',
                        text: 'Gửi xác thực thành công. Vui lòng kiểm tra email',
                        confirmButtonText: `OK`,

                    }).then((result) => {
                        /* Read more about isConfirmed, isDenied below */
                        if (result.isConfirmed) {
                            firebase.auth().signOut();
                            document.getElementById('gosignin').href = "/api/login";
                            document.getElementById('gosignin').click();
                        }
                    })
                }).catch(function(error) {
                    // An error happened.
                    Swal.fire({
                        icon: 'error',
                        title: 'Error...',
                        text: error.message,
                    });
                });
            }).catch(function(error) {
                //TB lỗi khi tạo tk thất bại
                // Handle Errors here.
                var errorCode = error.code;
                Swal.fire({
                    icon: 'error',
                    title: 'Error...',
                    text: error.message,
                });
                // ...
            });
        }
    </script>
</body>

</html>